<mat-toolbar>
    <span>Signos Vitales</span>
</mat-toolbar>

<router-outlet *ngIf="true"></router-outlet>

<form [formGroup]="form" (ngSubmit)="buscar()">
    <mat-form-field>
        <input matInput placeholder="DNI" formControlName="dni">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nombre Completo" formControlName="nombreCompleto">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoge una fecha"
            formControlName="fechaConsulta">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Buscar</button>

</form>

<mat-table #table [dataSource]="dataSource" class="mat-elevation-z4">

    <ng-container *ngFor="let column of columns,let i = index" [matColumnDef]="column.columnDef">

        <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>

        <ng-container *ngIf="column.header !== 'Fecha' ">
            <mat-cell *matCellDef="let row">{{ column.cell(row) }} </mat-cell>
        </ng-container>
        <ng-container *ngIf="column.header === 'Fecha' ">
            <mat-cell *matCellDef="let row">{{ column.cell(row) | date:'medium'}} </mat-cell>
        </ng-container>

    </ng-container>

    <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-button color="primary" [disabled]="!puedeClick"
                (click)="crearModificar(element)">modificar</button>
            <button mat-button color="warn" [disabled]="!puedeClick" (click)="eliminar(element.id)">eliminar</button>
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator class="mat-elevation-z4" [pageIndex]="0" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
    [length]="cantidadRegTotal" (page)="cambioPaginador($event)"></mat-paginator>

<br>

<button mat-fab color="accent" [disabled]="!puedeClick" (click)="crearModificar()"
    style="float: right; margin-right: 20px">
    <mat-icon>add</mat-icon>
</button>