<mat-toolbar>
    <span>Paciente</span>
</mat-toolbar>

<router-outlet></router-outlet>


<mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<!-- mat table flex -->

<mat-table [dataSource]="dataSource" matSort>
  <!-- Column -->
  <ng-container matColumnDef="idPaciente">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.idPaciente}} </mat-cell>
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="nombres">
    <mat-header-cell *matHeaderCellDef> Nombre(s) </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombres}} </mat-cell>
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="apellidos">
    <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.apellidos}} </mat-cell>
  </ng-container>

  <!-- Column -->
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element"> 
            <button mat-button color="primary" [routerLink]="[ 'edicion', element.idPaciente ]">modificar</button>
            <button mat-button color="warn" (click)="eliminar(element.idPaciente)">eliminar</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- paginador -->
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

<!-- fab -->
<button mat-fab color="accent" style="float: right" routerLink="/paciente/nuevo">
    <mat-icon>add</mat-icon>
</button>
