<mat-card> Ingrese los Datos del Exámen </mat-card>

<form class="example-container" [formGroup]="form" #frmPaciete="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field class="full-width-field">
            <input matInput placeholder="ID" formControlName="idFormCtrl">
        </mat-form-field>
    </div>

    <mat-form-field class="full-width-field">
            <input matInput placeholder="Nombre" formControlName="nombresFormCtrl">
    </mat-form-field>
    
    <mat-form-field class="full-width-field">
            <input matInput placeholder="Desripcion" formControlName="descripcionFormCtrl">
    </mat-form-field>


    <button class="full-width-field" mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>

    <button  class="full-width-field"  mat-raised-button color="accent" type="buton" routerLink="/examenes">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
    </button>

</form>
