/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.carga-archivos-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
 }

 .grid-2-item{
    display: grid;
    grid-template-columns: auto auto;
 }

 .centered{
    align-self: center;
    text-align: center;
 }
 .color-toolbar{
    background: #f5f5f5;
 }

 .red {
   color:red;
}
.green {
   color:green;       
}

.example-spacer {
   flex: 1 1 auto;
}
